<h2>{{business.name}}</h2>

{{business.location}}
{{business.rating}}
{{business.contact}}
{{business.hours}}
{{business.price}}
<img src={{business.image}}>

<!-- 
<div class="row text-center">
    <img src={{model.image}} alt="" />
  </div>
{{yield}} -->
