<h2>{{business.name}}</h2>

{{business.location}}
{{business.rating}}
{{business.contact}}
{{business.hours}}
{{business.price}}
<img src={{business.image}}>

<ul>
  {{#each business.reviews as |review|}}
    {{review.body}}
  {{/each}}
</ul>

{{google-map business=business}}
