{{nav-links category=model.category city=model.category.city}}


<button {{action 'deleteBusiness' model}}>Delete business</button>

{{new-review saveReview="saveReview" business=model}}

<ul>
  {{#each model.review as |review|}}
    {{review-tile review=review}}
  {{/each}}
</ul>

{{business-tile business=model}}
